{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2>Upload data</h2>
        <form action="/handle_upload" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.dataset_name.label }}
            {{ form.dataset_name(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.dataset_csv }}
        </div>
        <input id="submit" name="submit" type="submit" class="btn btn-primary" value="Upload">
        </form>
    </div>
{% endblock %}




